{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'shop/shop-style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>{% block title %}EcomSite{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'shop:index' %}">EcomSite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- Add a form for the clickable search bar -->
                <form class="form-inline my-2 my-lg-0" method = "GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "item_name">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'shop:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <button type="button" data-html="true" id="cart" class="btn btn-link nav-link" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" title="Shopping Cart" data-content="{% block cart_content %}Your cart is empty.{% endblock %}">
                    Cart (0)
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Display messages -->
<div class="container mt-3">
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="container mt-5">
    {% block content %}{% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Include Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Your script -->
<script>
    $(document).ready(function() {
        displayCart(cart);
        console.log(cart);
        // Define displayCart function
        function displayCart(cart) {
            var cartString = "";
            var cartIndex = 1;
            for (var x in cart) {
                cartString += cartIndex.toString() + ". " + cart[x][1] + " Qty: " + cart[x][0] + " Price: $ " +cart[x][2] + "<br>";
                cartIndex++;
            }
            if (cartIndex === 1) {
                cartString = "<h5>Your Cart Is Empty!</h5>";
            }
            else{
                // Add a button inside the popover content
                cartString += "<a href='/checkout' class='btn btn-primary mt-2' id='checkout'>Checkout</a>";
            }

            document.getElementById("cart").setAttribute('data-content', cartString);
            // Enable Bootstrap popover
            $('[data-toggle="popover"]').popover();
        }
        displayCart(cart);
    });
</script>

</body>
</html>
