<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - EcomSite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mt-3">
                    <h1>Order Summary</h1>
                    <div class="row">
                        <div class="col-4">
                            <h4>Item Names</h4>
                            <ul class="list-group" id="item_list">
                                <!-- items -->
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4>Quantities</h4>
                            <ul class="list-group" id="quantity_list">
                                <!-- quantities -->
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4>Price</h4>
                            <ul class="list-group" id="price_list">
                                <!-- price -->
                            </ul>
                        </div>
                    </div>
                    <p class="mt-3"><strong>Total: $<span id="total_price"></span></strong></p>
                </div>
                <form class="mt-5" method="POST">
                    {% csrf_token %}
                    <h2>Checkout-Form</h2>
                    <div class="form-row">
                        <input type="hidden" id="items" name="items">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="jhon">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="jhon@demo.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="city" name="city">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <input type="text" class="form-control" id="state" name="state">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="zipcode" name="zipcode">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Total_Price</label>
                            <input readonly="" type="text" class="form-control" id="total" name="total">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
                </form>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        let total_price = 0;

        for (item in cart) {
            quantity = cart[item][0];
            name = cart[item][1];
            price = cart[item][2];
            total_price = total_price+price;

            itemString = `<li class='list-group-item'>${name}</li>`;
            $('#item_list').append(itemString);

            quantityString = `<li class='list-group-item'>${quantity}</li>`;
            $('#quantity_list').append(quantityString);

            priceString = `<li class='list-group-item'>${price}</li>`;
            $('#price_list').append(priceString);
        }
        total_priceString = `${total_price}`;
        $('#total_price').append(total_priceString);
        $('#items').val(JSON.stringify(cart));
        $('#total').val(total_price);
    </script>
</body>

</html>
