{% extends 'shop/base.html' %}

{% block title %}User Orders - EcomSite{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">User Orders</h2>
        <p class="lead">Welcome, <strong>{{ user.username }}</strong></p>
        <hr>
        <h4>Orders:</h4>
        <ul class="list-group">
            {% for order in user_orders %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#">
                                {{ order }}
                            </a>
                        </div>
                        <div class="col-md-6 text-right">
                            Total: ${{ order.total }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
